/* * { 
  outline: 1px solid red;
  outline-offset: -1px;
} */

.app {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  text-align: center;
  min-width: 100%;
  min-height: 200px;
  height: 100vh;
}

.app_link {
  color: #61dafb;
}

.header_parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 100%;
  min-height: 100px;
  border-bottom: 1px solid #282c34;
  outline: 1px solid #ffffff;
  outline-offset: -5px;

}

.nav_parent {
  display: flex;
  flex: 1;
  min-width: 100px;
  background-color: #282c34;
  color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-items: flex-start;
}

.app_header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  flex: 3;
  background-color: #282c34;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  color: white;
}

.page_title {
  align-items: center;
  width: 100%;
}

.line_break {
  background-color: #282c34;
  max-width: 95%;
}

.main_content_parent {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.main_content {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.col_middle {
  display: flex;
  align-items: center;
  flex: 3;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  min-width: 10%;
  min-height: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  outline: none;
}

.col_middle:focus-within {
  outline: 2px solid yellow;
  outline-offset: -2px;
}

.col_side {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 10%;
  min-height: 100%;
}

.history_list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.info {
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 50px;
  min-width: 100%;
}

.spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 100%;
}

.grid_row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
}

.grid_col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: 1px solid black;
  outline-offset: -1px;
  font-weight: bold;
  text-transform: capitalize;
}

.keyboard_parent {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  min-width: 60%;
  min-height: 150px;
  background-color: gray;
  outline: 1px solid black;
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5px;
  height: 100%;
}

.keyboard_row_1_parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  border-bottom:  1px solid black;
}

.keyboard_row_2_parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  border-top:  1px solid black;
  border-bottom:  1px solid black;
}

.keyboard_row_3_parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  border-top:  1px solid black;
}

.keyboard_row_1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 5px;
}

.keyboard_row_2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 5px;
}

.keyboard_row_3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 5px;
}

.key {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 1px solid black;
  width: 80px;
  min-height: 100%;
  font-weight: bold;
  text-transform: capitalize;
  background-color: white;
}

.key:hover, .key_space:hover, .key_back:hover {
  background-color: lightblue;
}

.key:active, .key_space:active, .key_back:active {
  background-color: lightgreen;
}

.key_space {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 1px solid black;
  width: 80px;
  min-height: 100%;
  background-color: white;
}

.key_back {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 1px solid black;
  width: 80px;
  min-height: 100%;
  background-color: white;
}