.number_input {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.text_display {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.grid_display {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
  row-gap: 5px;
  width: 350px;
  height: 420px;
  min-width: 20%;
}